@layout('layouts.app')

@section('title')
Users
@endsection

@section('content')
<div class="container-page m-auto">
    <div class="row">
        <div class="col-md-12">
            <h1>Users</h1>
        </div>
    </div>
</div>
@endsection