<script type="text/javascript">
$(document).ready(function () {
    $('.ticket-table').DataTable();

    $('#update').on('click', function () {
        $('#form-update').submit();
    });
});
</script>