{{ script('/assets/jquery/jquery-3.5.1.min.js') }}
{{ script('/assets/popper/popper.min.js') }}
{{ script('/assets/bootstrap/js/bootstrap.min.js') }}
{{ script('/assets/custom/js/custom.js') }}
{{ script('/assets/chartjs/js/Chart.min.js') }}
{{ script('/assets/custom/js/jquery.mCustomScrollbar.concat.min.js') }}
{{ script('/assets/datatables/js/jquery.dataTables.min.js') }}